<?xml version='1.0' encoding='utf-8'?>
<widget id="example.tarbgal" version="0.1.0">
  <name>Tarbgal</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="suzumiyasmith@gmail.com">
    suzumiya
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
